# List & For loop

In [1]:
names : list[str] = ["basit ali", "Qamar shahzad", "Rana Haris","Hammad Afzal"]

print( names[0]) # Printing String by giving index

basit ali

In [14]:
names : list[str] = ["basit ali", "Qamar shahzad", "Rana Haris","Hammad Afzal"]
for name in names:
    print("This is :" + name.title()) #Printing List With For Loop

This is :Basit Ali
This is :Qamar Shahzad
This is :Rana Haris
This is :Hammad Afzal

In [16]:
names : list[str] = ["basit ali", "Qamar shahzad", "Rana Haris","Hammad Afzal"]
for name in names:
    print("This is :" + name.title()) #Printing List With For Loop 
    break  # Terminating Loop with break 
else: 
    print("I am using For Loop to print List of Strings")

This is :Basit Ali

# List Type Tuple

In [40]:
data_base: list[tuple] = [("Basit", '31'),
                          ("Hammad",'25'),
                          ("Usman",'29')]
#'Basit', 31  -> 1st Row
#'Hammad', 25 -> 2nd Row
#'Usman', 29  -> 3rd Row

input_name : str = input("Enter User Name: ")
input_age : str = input("Enter User age: ")

for data in data_base:         
    name, age = data
    if input_name==name  and  input_age==age :
        print("User Name and Age are Correct: "+ name, age)
        break 
else:
    print("You have Entered invalid Data")

User Name and Age are Correct: Usman 29

# Numbers With Loop

In [ ]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

# Writing Table

In [32]:
for number in range(1,11):
    print( f"2 * {number}  = {number * 2}" )

2 * 1  = 2
2 * 2  = 4
2 * 3  = 6
2 * 4  = 8
2 * 5  = 10
2 * 6  = 12
2 * 7  = 14
2 * 8  = 16
2 * 9  = 18
2 * 10  = 20

# Dynamic Table

In [35]:
x :int = int(input("Enter Any NUmber: "))
for number in range(1,11):
    print( f"{x} * {number}  = {number * x }" )

10 * 1  = 10
10 * 2  = 20
10 * 3  = 30
10 * 4  = 40
10 * 5  = 50
10 * 6  = 60
10 * 7  = 70
10 * 8  = 80
10 * 9  = 90
10 * 10  = 100

# Tuple

In [40]:
data : tuple[str] = ("Basit","Ali","Amanat")
print(data[0]) 
print(data[1]) 
print(data[2])

Basit
Ali
Amanat

In [60]:
data : tuple[str] = ("Basit","Ali","Amanat",[0,1,2])
data[3].append(3)
print(data)

# data : tuple[str] = ("Basit","Ali","Amanat",[0,1,2])
# data[2] ="Paki"
# print(data)

('Basit', 'Ali', 'Amanat', [0, 1, 2, 3])